extends layout

block content
  .container
    .wrapper
      .top-block
        a.top-block__link(href="/out" class="btn btn-warning") Выход
        if (user)
          p.alert.alert-success Добро пожаловать! #{user.name}
        else
          p
            a(href="/registration" class="btn btn-warning") Регистрация

      form.form-horizontal(class="col-xs-6 form__login" action='/login' method='POST')
        .row.form-inline
          label(for="username" class="col-xs-3") Логин
          input(class="form-control col-xs-3" type="text" name="username" required)
        .row.form-inline
          label(for="password" class="col-xs-3") Пароль
          input(class="form-control col-xs-3" type="text" name="password" required)
        .row.form-inline.checkbox-login
          input(type="checkbox", name="remember")
          span.desc__login Запомнить меня
        .row.form-inline.btn-login
          button(class="btn btn-primary col-xs-12 col-sm-6" type="submit") Войти

        if (message)
          .status.alert.alert-warning(role="alert") #{message}
